/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #fdf3f3, #f6dede, #f9f0f0, #f9d6da, #ffffff); /* Added pinkish tone in middle */
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 0.2s;
  color: #000000; /* Pink shade for logo */
}

.logo:hover {
  transform: scale(1.05);
  color: #ffd6eb; /* Lighter pink hover */
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links a {
  color: rgb(54, 54, 54);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #645fff; /* Pink underline */
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}


@media (max-width: 768px) {
  .nav-links {
    display: none; /* Later add a hamburger menu */
  }
}
